/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;

	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a , a:visited, a:active,a:hover{
    text-decoration:none;
    color:inherit;
}
body {
	line-height: 1;
    height:100vh;
    width:100vw;
    overflow-x:hidden;
    font-family: 'Playfair Display', serif;
    font-weight:lighter;
    display:flex;
    flex-direction:column;
    padding:0;
    margin:0;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#slideShow {
    display:flex;
    justify-content: center;
    align-items:center;
    grid-column: 1 /4;
   /* grid-row:2/3;*/
    height: auto;
    width:auto;
    overflow:hidden;
    
}
img.mainPhoto {
    width:100vw;
    object-fit:cover;
    height: auto;
    min-height:100%;
    min-width:100%;
    flex-shrink:0;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}
img {
    height: auto;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}
#content {
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width:100vw;
   
}
#tabcontents {
    grid-row:2/3;
}
#nav {
    height:80px;
    grid-column:1/4;
    grid-row:1/3;
    display:flex;
    align-items:center;
    justify-content: space-around;
    letter-spacing:2px;
    background-color:white;
    font-weight:100;
}
.topnav {
    display:none;
}
#title {
    text-align:center;
    word-wrap:break-word;
    width:190px;
    font-size:1.4rem;
    font-weight:100px;
    cursor:pointer;
}
#options {
 
    display:flex;
    gap:20px;
    font-size:.7rem;
    font-weight:300;
}
#option {
    border-bottom:#00955e transparent 2px;
    padding-bottom:10px;
    font-size:.7rem;
}
#option:hover {
    border-bottom: #00955e solid 2px;
}
/*when tab is selected add green border*/
#options .tablinksactive {
    border-bottom: #00955e solid 2px;
}
#tabContent {
    grid-row:3/4
}
#locations {
    grid-column:1/4;
    margin-top:50px;
    margin-bottom:50px;
    display:flex;
    gap:20px;
    justify-content:left;
}
#location1, #location2 {
    width:auto;
}
 h1 {
    font-size: 3rem;
    
}
#locations h1::after {
    display:block;
    content: "";
    border-top: solid 4px #00955e;
    margin:auto;
    width:140px;
    margin-top:45px;
    
}
  #address {
    width:250px;
    font-style:italic;
    line-height:2;
    font-size:.8rem;
    margin-top:22px;
    letter-spacing:2px;
    
}


#hour {
    display:flex;
    flex-direction:column;
    margin-top: 45px;
    gap:10px;
    letter-spacing:2px;
}
#meal {
    font-size:1.5rem;
    margin-bottom:10px;
    font-style:italic;
}
#time {
    margin-bottom:15px;
}
#graphic {
    display:flex;
    align-items:center;
    
}

#banner {
    display:flex;
    height:200px;
    width:100vw;
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%2300955e' fill-opacity='1'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}
#github {
    display:flex;
    justify-content:center;
    line-height:25px;
    letter-spacing: 3px;
    font-size:.6rem;
}
#banner {
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:15px;
    align-items:center;

}
#banner-address {
    display:inline-block;
    background-color:#a7d6f0;
    width:400px;
    font-size:.8rem;
    letter-spacing:2px;
    padding:10px;
    font-weight:100;
    cursor:pointer;
    
}
#footer {
    height:250px;
    text-align:center;
    grid-row:3/4;
    width:auto;
}
button.email {
    background-color:#00955e;
    border:none;
    color:white;
    height:40px;
    letter-spacing: 2px;
    padding:10px;
    font-size:.8rem;
    font-weight:300;
    cursor: pointer;

}
button.email:hover {
    color: #00955e;
    background-color:#a7d6f0
}
#icons {
    display:flex;
    gap:15px;
    cursor:pointer;
}
#reserve {
    background-color:rgb(255, 70, 45);
    height:50px;
    width:220px;
    border:none;
    border-radius:.5rem;
    font-size:1.2rem;
    color:white;
    display:flex;
    align-items:center;
    padding-left:15px;
    font-weight:700;
    cursor:pointer;
}
#reserve:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0)
}
/*FAQ*/
#explanations {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    
    width:700px;
    gap:60px;
    margin-bottom:100px;
    letter-spacing:2px;
    line-height:200%;
    font-weight:lighter;
    
}
#explanations h1 {
    text-align: center;
    margin-bottom:20px;
    font-style:italic;
    font-size:1.7rem;
}

#faqContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#nav.nav{
    display:flex;
    width:700px;
    flex-wrap:wrap;
    gap:10px;
    margin-top:60px;
    margin-bottom: 60px;
    font-weight:700;
  
}
/*menus*/
#menusContainer {
    display:flex;
    flex-direction:column;
    align-items:center;
}
h1#brunch,h1#sandwiches,h1#sides, h1#midday, h1#starters, 
h1#dishes, h1#sidesDinner, h1#cocktails, h1#bubbles, h1#redwine
, h1#whitewine, h1#dessert, h1#dessertWine{
    text-align:left;
    font-style:normal;
    font-weight:800;
    font-size:2rem;
  
 
}
h1#brunch,h1#sides{
    margin-bottom:40px;
}
#menuItem {
    display:flex;
    flex-direction:column;
    margin-bottom:40px;
    line-height:170%;
    letter-spacing:3px;
 
}
p#allergy {
    font-size:.7rem;
}
#additions {
    font-size:.8rem;
}
#glutenFree {
    font-size:.8rem;
    margin-left:170px;
    margin-top:0px;
    margin-bottom:40px;
}
h1#sandwiches {
    margin-bottom:0px;
    margin-top:120px;
}
h1#sides {
    margin-top:120px;
}
.menuLinksactive {
    border-bottom: #00955e solid 2px;
}
/*Dinner menu*/
h1#sidesDinner, h1#dishes {
    margin-top:100px;
}
/*cocktails*/
h1#cocktails {
    margin-bottom:60px;
}
/*wine*/ 
h1#redwine, h1#whitewine {
    margin-top:100px;
}
/*Coffee*/
#coffeeSelection{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    height:240px;
    font-size:.9rem;
    
}
#softdrinkSelection {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    height:300px;
    font-size:.9rem;
    
}
#teaSelection {
    font-size:.9rem;
}
h1#coffee {
    margin-bottom:0px;
}
#blend {
    margin-bottom:10px;
}
h1#coffee,
h1#tea, h1#softdrink {
    text-align:left;
    font-style:italic;
    font-weight:800;
    font-size:2rem;
}
/*private events*/

#eventContent {
    margin-left:300px;
    margin-right:300px;
    text-align:center;
    line-height:200%;
    letter-spacing:2px;
}
h1#privateEvents {
    margin-top:70px;
    margin-bottom:50px;

}
button#events {
    background-color:#00955e;
    color:white;
    border:none;
    height:40px;
    width:190px;
    margin-top:40px;
    margin-bottom: 80px;
    letter-spacing:2px;
    font-size:.7rem;
    margin-right:20px;
}
button#events:hover {
    color: #00955e;
    background-color:#a7d6f0;

}
/*modal/reservations*/
#modalReservations {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:white; /* Fallback color */
    overflow:hidden;
     
}
/* The Close Button */
.close {
    color: #00955e;
    float: right;
    font-size: 80px;
    font-weight: lighter;
  }
  
  .close:hover,
  .close:focus {
    color:#00955e71;
    text-decoration: none;
    cursor: pointer;
  }
  h1#reservations {
    color:#00955e;
    border-bottom: solid #00955e 2px; 
    padding:80px;
    margin-bottom:40px;
    font-size:1.2rem;
  }
  #modalContent {
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width:800px;
    overflow:hidden;
    margin-top:0px;
  }
  #numberPeople, #date, #name, #phone {
      width:800px;
      height:50px;
      margin-bottom:20px;
      
  }
  #numberPeople {
      width:808px;
  }
  select {
    color: #999;
    font-family:sans-serif;
    letter-spacing:2px;
}
::placeholder {
    color:#999;
    font-family:sans-serif;
    letter-spacing:2px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity:1;
    -webkit-appearance: none;
}
#tableButton {
    color:white;
    background-color:black;
    height:50px;
    letter-spacing:2px;
    padding-left:10px;
    padding-right:10px;
}
/*change for mobile view*/
@media (max-width: 1000px) {
    #locations {
          flex-wrap:wrap;
          justify-content:center;
     } 
     #nav {
         display:none;
     }
     /* Style the navigation menu */
     .topnav {
       overflow:auto;
       background-color: white;
       position: relative;
       width:98vw;
       display:block;
       text-align:left;
       margin-left:30px;
       grid-row:1/3;
     }
     
     /* Hide the links inside the navigation menu (except for logo/home) */
     .topnav #myLinks {
       display: none;
     }
     #myLinks {
         font-size:2rem;
     }
     
     /* Style navigation menu links */
     .topnav a {
       color: black;
       padding: 14px 16px;
       text-decoration: none;
       display: block;
     }
     
     /* Style the hamburger menu */
     .topnav a.icon {
       background: white;
       color:#a7d6f0 ;
       display: block;
       position: absolute;
       height:50px;
       right: 0;
       top: 0;
     }
     
     /* Add a grey background color on mouse-over */
     .topnav a:hover {
       background-color:#a7d6f0 ;
       color:white;
       
     }
     
     /* Style the active link (or home/logo) */
     .active {
       background-color: white;
       color: white;
       display:flex;
       flex-direction:column;
       font-size:3rem;
     }
     /*resize fonts*/
     #hour {
        font-size:1.8rem;
        letter-spacing: 4px;
     }
     #address {
         font-size:1.5rem;
     }
     #banner-address,button.email {
         font-size:1.3rem;
         width:auto;
     }
     #github {
         font-size:1rem;
     }
   
}